.flex__center {
   display: flex;
   justify-content: center;
   align-items: center;
}

.p__opensans {
   font-family: var(--font-opensans);
   color: var(--color-white);
   font-weight: 400;
   letter-spacing: 0.04em;
   line-height: 25px;
   font-size: 16px;
}

.headtext__raleway {
   font-family: var(--font-raleway);
   color: var(--color-white);
   font-size: 28px;
   font-weight: 700;
   line-height: 42px;
   letter-spacing: 0.04em;
}

.custom_btn {
   font-family: var(--font-raleway);
   color: var(--color-white);
   background: linear-gradient(to right, var(--cyan), var(--blue));
   border: none;
   padding: 18px 80px;
   border-radius: 50px;
   font-size: 14px;
   cursor: pointer;
}

.custom_btn:hover {
   background: var(--cyan);
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1150px) {
   .p__opensans {
      line-height: 22px;
      font-size: 13px;
   }

   .headtext__raleway {
      font-size: 22px;
      line-height: 35px;
   }
}

@media screen and (max-width: 650px) {
}
